*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.main {
    background-color: #0D1117;
    padding-top: 1.2rem;
    color: #F5F5F5;
    text-align: center;
    box-sizing: border-box;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 100%;
}
.content-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 4rem;
}

.head h5 {
    font-size: 3rem;
    color: #000000;
}

.head p {
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: midnightblue;
    border-radius: 4px;
}

.head img {
    max-height: 100vh;
    /* object-fit: fill; */
}

.hero-title h1 {
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}

.hero-title i {
    font-size: 3.4rem;
}

.hero-title div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.7rem;
}

.hero-title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.hero-title  p {
    font-family: 'Poppins', sans-serif;
    color: gray;
}


/* text-sectin */

.text-section {
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.text-section .text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text-content .box {
    flex-wrap: wrap;
    min-width: inherit;
    display: flex;
}
.text-content .box p{
    color: gray;
}

.text-content .box:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.text-content .box .card-local {
    background-color: #161B22;
    color: #ffffff;
    overflow: hidden;
}

.text-content .box img {
    overflow: hidden;
    object-fit: cover;
    transition: transform 1s ease;
}

.text-content .box img:hover {
    transform: scale(1.2);
}



.text-content .color {
    background-color: red;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-content .color i {
    font-size: 1.8rem;
}

@media (max-width:1024px) {
    .text-content .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}

